.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(o,o,o,1);
    
}
.box1 {background:chartreuse;}
.box2 {background: chocolate;}
.box3 {background: cornflowerblue;}
.box4 {background:crimson;}
.box5 {background: darkblue;}
.box6 {background: darkgreen;}
.box7 {background: darkorchid;}
.box8 {background: darkturquoise;}
.box9 {background: deeppink;}
.box10 {background: dodgerblue;}


.container {
    display: flex;
    border:50px solid blue;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    /*width: calc(33.3333% - 20px);*/
    width: 7%;
    width: even;
    


}